@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: rgb(255, 0, 179);
    font-family: Bai Jamjuree;
}
footer{
    background-color: black;
    color: beige;
    position: fixed;
    width: 100%;
}

footer p{
    text-align: center;
    font-size: 0.6rem;
    height: 2rem;
    margin: 0.5rem;
}